

html, body {
    image-rendering: -webkit-optimize-contrast;
    margin: 0;
    padding: 0;
    color: #000000;
    background: hsl(0, 0%, 8%);
    font-family: 'Dosis', 'Nunito', 'Roboto', sans-serif;
    overflow-y: scroll;
    scrollbar-width: none; 
    scroll-behavior: smooth !important;
    overflow: -moz-scrollbars-none;
}

body::-webkit-scrollbar {
    display: none; 
    width: 0;
    height: 0;
}

a {text-decoration: none; }

@font-face {
    font-family: mechanicPencil;
    src: url(assets/fonts/Mechanic_Pencil.ttf);
    
}

/* parallax effect */

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  
    perspective: 1px;
}

.parallax-layer {
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


.parallax-layer img {
    width: 100%;
    object-fit: contain;
    position: absolute;
}

.layer0 {
    transform: translateZ(1px);
    scale: 2;
}
  
.layer1 {
    transform: translateZ(-1px);
    scale: 2;
}
  
.layer2 {
    transform: translateZ(-2px);
    scale: 3;
}
  
.layer3 {
    transform: translateZ(-3px);
    scale: 4;
}


.animated-parallax {

}

/* portfolio */

.portfolio h1 {
    position: sticky; top: max(5vh, 5vw);
    line-height:0;
    transform:translateY(-0.75em);
    text-align: center;
    font-size: 2.5em;
    color: #fff;
    mix-blend-mode: difference;
}

.project {
  border: 1px solid #ccc;
  padding: 1em;
  margin-bottom: 1em;
  justify-items: center;`
}
.project img {
  max-width: 75vw;
}
.project-title {
    margin: 0;
    position: sticky; top: max(5vh, 5vw);
    line-height:0vh;
    transform:translateY(1em);
    justify-self: center;
    text-align: center;
    color: #fff;
    mix-blend-mode: difference;
}


/* things that matter */

.header {
    position: fixed;
    padding: max(5vh, 5vw);
    top: 0vh;
    left: 0;
    right: 0;
    text-align: center;
    font-size:2em;
    line-height: 0px;
    z-index: 10;
    display:flex;
    justify-content: center;
    align-items: center;
    /* font-weight:bold; */
    color: #fff;
    mix-blend-mode: difference;
}

.header .bar {
    color: #fff;
    background: #fff;
    width: calc(50% + 128px);
    max-width: 100%;
    height: 0.06em;
    transform:translateY(-0.017em);
}

.main-container {
    /* width: calc(75vw + 128px); */
    width: calc(50% + 128px);
    max-width: 100%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0);
    border-radius: 8px;
    position: relative;
    min-height: calc(100vh - 80px);
}


.left-container, .text-container, .image-container, .right-container, .footer-container {
    background: hsl(0, 0%, 4%); 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    margin-bottom: 16px; 
    padding: 16px;
}

.footer-container {
    opacity: 1;
    padding: 0px;
    margin: 0px;
    background-color: #00000000;
}

/* .left-container, .right-container {
    gap: 10px;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    align-items: stretch;
}

.right-container {
    flex: 3;
} */

.button {
    display: flex;
    padding: 10px 20px;
    background-color: #fffb;
    /* box-shadow: 0 0px 16px rgba(0, 0, 0, 0.2);  */
    color: #fff;
    outline: 1px solid black;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.1s;
    font-size: 20px;
    line-height: 20px;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    z-index: 7;
}

.button:hover {
    background-color: #fff;
}

.profile-container {    
    -ms-overflow-style: none;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    min-height: 100vh;
    padding: max(20vh, 20vw) 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 3em;
    /* column-gap: 256px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);  */
}

.photo {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    flex: 1 1 0;
    min-width: 15em;
    min-height: 15em;
    /* transform: translateX(min(0, calc(-50vw - 512px))) */
    transform: translate(min(46%, (calc(-20vw + 100%))), 50%);
    z-index: 6;
}

.photo img {
    position: absolute;
    transform: translate(-50%, -50%);
    width: min(calc(30vw + 10em), 150vw);
    /* height: 512px; */
}

.info {
    flex: 1 1 0;
    min-width: 15em;
    max-width: calc(0.45 * max(40em, calc(50vw + 128px)));
    display:flex;
    flex-direction: column;
    font-family: nunito;
    text-shadow: 0 0 32px #fff, 0 0 32px #fff, 0 0 32px #fff, 0 0 32px #fff;
}

.info h1, .info h2{
    font-weight: 500;
    line-height: 1.5em;
    margin: 0;
    font-size: 3cqi;
    /* container-name: profile-title;
    container-type: inline-size; */
    font-size: 1em;
    container-name: info-header;
    display: grid;
    /* grid-gap: 1rem; */
    grid-template-columns: 1fr 0fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "title center side"
    "links center side";
}


/* @container info-header (min-width: 700px) {
    .module h2 {
      font-size: 2em;
    }
} */

.info .title {
    grid-area: title;
    font-size: calc(0.04 * max(40em, calc(50vw + 128px)));
    /* font-size: calc(0.04 * calc(50vw + 128px)); */
    z-index: 6;
}

.info h2 .title {
    font-size: 1.em, calc(0.04 * max(40em, calc(50vw + 128px)));
}

.info .side-title {
    font-weight: normal;
    grid-area: side;
    align-self: center;
    text-align: right;
    font-size: calc(0.025 * max(40em, calc(50vw + 128px)));
}

.info span {
    z-index: 6;
    margin-bottom: 2em;
    font-weight: normal;
    font-size: calc(0.02 * max(40em, calc(50vw + 128px)));
    padding: 0;
}

.info .ring {
    grid-area: center;
}

.info .ring img {
    grid-area: center;
    position: absolute;
    transform: translate(-50%, -40%);
    width: calc(0.5 * max(30em, calc(50vw + 128px)));;
    z-index: 5;

    /* mix-blend-mode: soft-light; */

    opacity: 0.75;
}



.info .links {
    grid-area: links;
    display: flex;
    gap: calc(0.015 * max(40em, calc(50vw + 128px)));
    justify-content: start;
    z-index: 6;
}

.info .links a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.info .links a img {
    height: calc(0.03 * max(40em, calc(50vw + 128px))); 
    filter: invert(1) grayscale(100%) brightness(50%);
    border: none; 
    scale: 0.75;
    transition-duration: 0.1s;
}

.info .links a:hover img {
    scale: 1.1;
    filter: invert(1) grayscale(100%) brightness(200%);
}

.info h3 {
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    align-items: center;

}

.info h3 span {
    margin: 0;
    text-justify: center;
    text-align: center;
} 

.info .button {
    color: #000;
    text-decoration: none;
}

.text-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    column-gap: 5px;
    row-gap: 0;
    padding:16px;
}

.image-container {
    overflow-y: visible;
    /* height: calc(160vw - 32px);  */
    /* height calculation was trial and error - adjust second value with amount of images */
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    column-gap: 5px;
    row-gap: 0;
}

.image-container a {
    width: calc(33.3% - 3px);
    text-decoration: none; 
}

.image-container a img {
    width: 100%; 
    object-fit: cover; 
    border-radius: 5px;
    filter: brightness(95%);
    transition-duration: 0.1s;
}

.image-container a img:hover {
    filter: brightness(110%);
    overflow: hidden;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}