:root {
    --header-padding: max(2em, max(5vh, 5vw));
    --profile-scale: 40em;
}

html, body {
    image-rendering: -webkit-optimize-contrast;
    margin: 0;
    padding: 0;
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
    color: #000000;
    background: hsl(0, 0%, 8%);
    font-family: 'Dosis', 'Nunito', 'Roboto', sans-serif;
    overflow-y: scroll;
    scrollbar-width: none; 
    scroll-behavior: smooth;
    overflow: -moz-scrollbars-none;
    list-style-type: "✦  ";
}

/* body::-webkit-scrollbar {
    display: none; 
    width: 0;
    height: 0;
} */

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto !important;
	}
}

a {text-decoration: none; }

@font-face {
    font-family: mechanicPencil;
    src: url(assets/fonts/Mechanic_Pencil.ttf);
    
}

/* parallax effect */


.parallax {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    perspective: 100em;
    
    /* margin-top:500px; */
}
.parallax *:not(.no-3D, .no-3D *) {
    transform-style: preserve-3d;
}

.parallax-layer {
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.parallax-layer img {
    width: 100%;
    scale:1.1; /*fix for chrome being a dum dum and shifting the entire thing by like 8 pixels for some reason */
}

.layer0 {
    transform: translateZ(0);
}
  
.layer1 {
    /* z-index: -2; */
    transform: translateZ(-100em);
    scale: 2;
}
  
.layer2 {
    /* z-index: -4; */
    transform: translateZ(-200em);
    scale: 3;
}
  
.layer3 {
    z-index: -6;
    transform: translateZ(-300em);
    scale: 4;
}

.no-3D {
    transform-style: flat;
}

.fade-parallax{    
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    perspective: 100em;
    z-index: 9;

    pointer-events: none; 
    position: fixed;
    top: 0vh;
    left: 0;
    right: 0;

    mask-image: linear-gradient(
        to bottom,
        black,
        transparent 50%,
        black 100%
        /* transparent calc(100% - 20%), */
        /* black */
    );
}

.fade-parallax .parallax-layer, .fade-parallax .layer3{
    /* position: absolute; */
}


.fade-parallax .parallax-layer img{
    /* position: absolute; */
}
/* portfolio */

#portfolio {
    scroll-behavior: smooth;
}
.portfolio {
    /* transform: translateZ(-20cm); */
    display:flex;
    flex-direction: column;
    overflow-y:clip;
}

.portfolio span {
    position: sticky; 
    top: calc(var(--header-padding) - 1.667em);
    text-align: center;
    font-size: 2em;
    scale: 1.5;
    color: #fff;
    mix-blend-mode: exclusion;
    z-index: 10;
    text-shadow: 0 0 64px #fff;
}

.project {
    margin-bottom: 1em;
    min-height: 100vh;
    position:relative;
    overflow-y:clip;
}

.project-content {
    top: 0;
    bottom: 0;
    color: #fff;
    overflow: hidden;
    z-index:1;
}

.project-background {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    object-fit:cover;
}

.project-time {
    mix-blend-mode: difference;
}

.project-medium {
    mix-blend-mode: difference;
}

.project-images {
    max-width: 30em;
}

.project-description {
    mix-blend-mode: difference;
}

.project-credits {
    mix-blend-mode: difference;
}

.project-header {
    height:100vh;
    position:absolute;
    width:100%;    
    margin-top: calc(var(--header-padding) * -1);
}

.project-title {
    position: sticky;
    font-weight:normal;
    font-size: 2em;
    top: calc(var(--header-padding) + 0.67em);
    line-height: 0;
    text-wrap-mode:nowrap;
    text-align: center;
    color: #fff;
    z-index: 8;
    mix-blend-mode: difference;
}

.project-header-filter{
    background-position:50% 0%;
    position: sticky;
    display:block;
    width:100%;
    height: var(--header-padding);
    font-size:2em;
    background: inherit;
    background-size:0;
    top: 0;
    z-index:9;
}

.project-header-filter::before, .project-header-filter::after{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background:inherit;
    background-size:200%;
    mask-image: linear-gradient(
        to bottom,
        black,
        transparent
    );
}


.project-header-filter::after {
    height: var(--header-padding);
    filter:brightness(2);
    mask-image: linear-gradient(
        to right,
        transparent,
        transparent,
        black 33.3%,
        black 66.7%,
        transparent,
        transparent
    );
}

/* things that matter */

.header {
    position:sticky;
    padding-top: var(--header-padding);
    top: 0;
    left: 0;
    right: 0;
    font-size:2em;
    line-height: 0;
    z-index: 10;
    /* font-weight:bold; */
    color: #fff;
    z-index: 10;
    display:flex;
    justify-content: center;
    align-items: center;
    mix-blend-mode: difference;
}

.header-blur {
    position:sticky;
    margin-bottom:calc(4*var(--header-padding));
    top:0;
    z-index:8;
}


.header-blur > div, .header-blur::before, .header-blur::after {
  position: absolute;
  width:100%;
  height:calc(4*var(--header-padding));
  max-height:33.3vh;
  inset: 0;
  background:#f0f;
}

.header-blur::before {
    content: "";
    z-index: 1;
    backdrop-filter: blur(0.5px);
    mask:
    linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 12.5%,
      rgba(0, 0, 0, 1) 25%,
      rgba(0, 0, 0, 0) 37.5%
    ),
    linear-gradient(
        to right,
        black,
        transparent,
        transparent,
        black
    );
    mask-composite: subtract;
}

.header-blur > div:nth-of-type(1) {
    z-index: 2;
    backdrop-filter: blur(1px);
    mask:
      linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 12.5%,
      rgba(0, 0, 0, 1) 25%,
      rgba(0, 0, 0, 1) 37.5%,
      rgba(0, 0, 0, 0) 50%
    ),
    linear-gradient(
        to right,
        black,
        transparent,
        transparent,
        black
    );
    mask-composite: subtract;
}

.header-blur > div:nth-of-type(2) {
    z-index: 3;
    backdrop-filter: blur(2px);
    mask:
      linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 25%,
      rgba(0, 0, 0, 1) 37.5%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) 62.5%
    ),
    linear-gradient(
        to right,
        black,
        transparent,
        transparent,
        black
    );
    mask-composite: subtract;
}

.header-blur > div:nth-of-type(3) {
    z-index: 4;
    backdrop-filter: blur(4px);
    mask:
      linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 37.5%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 1) 62.5%,
      rgba(0, 0, 0, 0) 75%
    ),
    linear-gradient(
        to right,
        black,
        transparent,
        transparent,
        black
    );
    mask-composite: subtract;
}

.header-blur > div:nth-of-type(4) {
    z-index: 5;
    backdrop-filter: blur(8px);
    mask:
      linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 1) 62.5%,
      rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 0) 87.5%
    ),
    linear-gradient(
        to right,
        black,
        transparent,
        transparent,
        black
    );
    mask-composite: subtract;
}

.header-blur > div:nth-of-type(5) {
    z-index: 6;
    backdrop-filter: blur(16px);
    mask:
      linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 62.5%,
      rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 1) 87.5%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
        to right,
        black,
        transparent,
        transparent,
        black
    );
    mask-composite: subtract;
}

.header-blur > div:nth-of-type(6) {
    z-index: 7;
    backdrop-filter: (blur,32px);
    mask:
      linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 75%,
      rgba(0, 0, 0, 1) 87.5%,
      rgba(0, 0, 0, 1) 100%
    ),
    linear-gradient(
        to right,
        black,
        transparent,
        transparent,
        black
    );
    mask-composite: subtract;
}

.header-blur::after {
    content: "";
    z-index: 8;
    backdrop-filter: blur(64px);
    mask:
      linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 87.5%,
      rgba(0, 0, 0, 1) 100%
    ),
    linear-gradient(
        to right,
        black,
        transparent,        
        transparent,
        black
    );
    mask-composite: subtract;
}


.header .bar {
    color: #fff;
    background: #fff;
    min-width: 6em;
    width: 80%;
    height: 0.06em;
    max-width: 100%;
    transform:translateY(-0.02em);
}

.info button {
    position:relative;
    display:flex;
    width:100%;
    padding: 3% 10%;
    background-color: transparent;
    text-decoration: none;
    transition: background-color 0.1s;
    font-size: calc(0.025*var(--profile-scale));    ;

    justify-content: center;
    align-items: center;
    z-index: 7;
    text-wrap-mode:nowrap;
}

.info .button::before {
    content:"";
    position:absolute;
    transform:translateZ(-1em);    
    border-radius: 0.5em;
    outline: 0.07em solid black;
    background:white;
    width:100%;
    height:100%;
}

.button:hover {
    background-color: #fff;
    transform:translateZ(2em);
}

.button:hover::before {
    transform:translateZ(-2em);
}

.profile-container {
    top: 0;
    margin: 0 auto;
    width: calc(50% + 128px);
    -ms-overflow-style: none;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    padding: max(20vh, 20vw) 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 3em;
    /* column-gap: 256px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);  */
    overflow-y: visible;
}

.photo {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    flex: 1 1 0;
    min-width: 15em;
    min-height: 15em;
    /* transform: translateX(min(0, calc(-50vw - 512px))) */
    transform: translate(min(46%, (calc(-20vw + 100%))), 50%);
}

.photo img {
    position: absolute;
    transform: translate(-50%, -50%);
    width: var(--profile-scale);
    z-index: 10;
    /* height: 512px; */

}

.info {
    flex: 1 1 0;
    min-width: 19em;
    max-width: calc(0.45 * var(--profile-scale));
    display:flex;
    flex-direction: column;
    font-family: nunito;
    text-shadow: 0 0 32px #fff, 0 0 32px #fff, 0 0 32px #fff, 0 0 32px #fff;
    z-index: 6;
    font-weight: normal;
    font-size: calc(0.02 * var(--profile-scale));
    padding: 0;
}

.info h1, .info h2{
    font-weight: 500;
    line-height: 1.5em;
    margin: 1.5em 0 0;
    font-size: 3cqi;
    /* container-name: profile-title;
    container-type: inline-size; */
    font-size: 1em;
    container-name: info-header;
    display: grid;
    /* grid-gap: 1rem; */
    grid-template-columns: 1fr 0fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "title center side"
    "links center side";
    transform:translateZ(0.5em);
}


/* @container info-header (min-width: 700px) {
    .module h2 {
      font-size: 2em;
    }
} */

.info .title {
    grid-area: title;
    font-size: calc(0.04 * var(--profile-scale));
    /* font-size: calc(0.04 * calc(50vw + 128px)); */
    z-index: 6;
}

.info h2 .title {
    font-size: 1.em, calc(0.04 * var(--profile-scale));
}

.info .side-title {
    font-weight: normal;
    grid-area: side;
    align-self: center;
    text-align: right;
    font-size: calc(0.025 * var(--profile-scale));
}

.info span:not(.info h3 span) {
    display:list-item;
    margin-top:calc(0.008*var(--profile-scale));
}

.info .ring {
    grid-area: center;
}

.info .ring > div {
    position: absolute;
    transform: translate(-50%, -40%) rotateY(-75deg) rotateX(30deg);
    z-index: 5;
    width: calc(0.333 * var(--profile-scale));
    height: calc(0.333 * var(--profile-scale));
    background-color: rgb(255, 255, 255);
    opacity: 0.75;
    shape-outside: circle(50%);
    clip-path: circle(50% at 50% 50%);

    background: radial-gradient(
        transparent,
        white
    )
    /* border: 0.4em solid black; */
    /* border-radius: 50%; */
}



.info .links {
    grid-area: links;
    display: flex;
    gap: calc(0.015 * var(--profile-scale));
    margin: 0.2em 0;
    justify-content: start;
    z-index: 6;
    transform:translateZ(0.25em);
}

.info .links a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.info .links a img {
    height: calc(0.03 * var(--profile-scale)); 
    filter: invert(1) grayscale(100%) brightness(50%) contrast(500%);
    border: none; 
    scale: 0.75;
    transition-duration: 0.1s;
}

.info .links a:hover img {
    transform:translateZ(0.5em);
    mix-blend-mode: normal;
}

.info h3 {
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    align-items: center;

}

.info h3 span {
    margin: 0;
    text-justify: center;
    text-align: center;
} 

.info .button {
    color: #000;
    text-decoration: none;
}

.text-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    column-gap: 5px;
    row-gap: 0;
    padding:16px;
}

.image-container {
    overflow-y: visible;
    /* height: calc(160vw - 32px);  */
    /* height calculation was trial and error - adjust second value with amount of images */
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    column-gap: 5px;
    row-gap: 0;
}

.image-container a {
    width: calc(33.3% - 3px);
    text-decoration: none; 
}

.image-container a img {
    width: 100%; 
    object-fit: cover; 
    border-radius: 5px;
    filter: brightness(95%);
    transition-duration: 0.1s;
}

.image-container a img:hover {
    filter: brightness(110%);
    overflow: hidden;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}